TEI {
    background-color: white;
    color: black;
    font-family: "Junicode", serif;
    margin-left: 60px;
    margin-right: 60px;
}

teiCorpus {
    background-color: white;
    color: black;
    font-family: "Junicode", serif;
    margin-left: 60px;
    margin-right: 60px;
    display: block;
}

teiHeader {
    background-color: white;
    display: block;
    padding: 15px;
}

titleStmt {
    display: block;
}

title {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
}

title:after {
    content: "— Édition numérique —";
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
    color: black;
}


publicationStmt {
    display: inline;
}

publicationStmt:after {
    content: "\a";
    white-space: pre;
}

publisher::after {
    display: inline;
    content: ": ";
    color: black;
}

sourceDesc::before {
    content: "Source :";
    display: inline;
    font-style: italic;
    color: black;
}

profileDesc {
    display: none;
}

body {
    background-color: white;
    color: black;
    margin: 20pt;
    line-height: 1.5em;
    font-size: 1.05em;
    font-family: "Junicode", serif;
    display: block;
}

p {
    display: block;
    margin-bottom: 1em;
}


name[ana="person"] {
    padding: 3px 6px;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
    color: black;
}


idno {
    color: black;
    display: block;
    font-size: 0.9em;
    font-style: italic;
    margin-top: 5px;
}


front {
    display: block;
    margin: 30px 0;
}

div[type="contents"] {
    margin-bottom: 50px;
}

div[type="contents"] head {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

list {
    display: block;
    margin: auto;
    width: fit-content;
}

item {
    display: list-item;
    list-style: upper-roman;
    margin-left: 20px;
    color: black;
}


div[type="poem"] head {
    display: block;
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}


lg {
    display: block;
    margin-bottom: 18px;
}


l {
    display: block;
    margin-left: 30px;
}


back {
    display: block;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid black;
}

div[type="colophon"] {
    text-align: center;
    font-style: italic;
    color: black;
}



div[type="contents"] {
    margin: 0 auto;
    padding: 20px;
    display: block;
    text-align: center;
}

div[type="contents"] head {
    font-size: 1.2em;
    margin-bottom: 15px;
    display: block;
}


div[type="contents"] list {
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
}

div[type="contents"] item {
    display: list-item;
    margin-left: 20px;
}

ref {
    text-decoration: underline;
    text-decoration-thickness: 0.2px;
}

seg[ana="Natur"] {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

seg[ana="Glück"] {
    color: rgb(210, 199, 0);
    font-weight: bold;
    text-decoration: underline;
}

seg[ana="Pein"] {
    color: rgb(0, 0, 197);
    font-weight: bold;
    text-decoration: underline;
}