TEI, text, body {
    display: block;
    margin: 0;
    padding: 0 4vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div[type="poem"] > head {
    color: #6ca0dc;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: "Bodoni MT", serif;
    margin-top: 40px;
    margin-bottom: 40px;

}

front > div > head {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    font-family: "Bodoni MT", serif;
}

l, p {
    text-align: left;
    font-size: 20px;
    font-family: "DidotReg-GPSR15", serif;
    line-height: 1;
    margin-bottom: 0.3em;
}

back p {
    text-align: left;
    font-size: 20px;
    font-family: "DidotItal-GPSR15", serif;
    line-height: 1;
    margin-top: 50px;
}

hi[rend="italic"] {
    font-style: normal;
    font-family: "DidotItal-GPSR15", serif;
}

select,
option {
    font-family: "DidotItal-GPSR15", serif;
    font-size: 18px;
}

@media (max-width: 600px) {
    TEI, text, body {
        padding: 4vw;
    }
}

@media (min-width: 1200px) {
    TEI, text, body {
        padding: 3vw;
    }
}

a {
    color: #000;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #6ca0dc;
}